html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  display: grid;
  width: 960px;
  height: 960px;
  grid-gap: 0;
}

